<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="/CSS/Aboutus.css"></link>
</head>
<body>
<img src="../Images/homePicture.jpg" alt="Logo" class="picture">

<div id="title">{{Title}}</div>
</br>
<div><h5 id="item">{{VaimSoft}}</h5></div>
</br>
<div><h5 id="item">{{Team}}</h5></div>
</br>
<div><h5 id="item">{{Solutions}}</h5></div>
</br>
<div><h5 id="item">{{More}}</h5></div>

</body>
</html>