<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="/CSS/Services.css"></link>
</head>
<body>
        <img src="../Images/homePicture.jpg" alt="Logo" class="picture">
        <div id="container">
<div><h3 id="title">{{Services}}</h3></div>
</br>

<div><h4 id="item">{{WebSite}}</h4></div>
<div><h4 id="item">{{Shop}}</h4></div>
<div><h4 id="item">{{Design}}</h4></div>
<div><h4 id="item">{{Application}}</h4></div>
</li>
</ul>


</br>
<div id="title"><h3>{{Stages}}</h3></div>
</br>
<div id="item"><h5>{{Planning}}</h5></div>
<div><h6 id="item">{{PlanningContent}}</h6></div>
</br>
<div id="item" ><h5>{{Analysis}}</h5></div>
<div><h6 id="item">{{AnalysisContent}}</h6></div>
</br>
<div id="item"><h5>{{Programming}}</h5></div>
<div><h6 id="item">{{ProgrammingContent}}</h6></div>
</br>
<div id="item"><h5>{{Testing}}</h5></div>
<div><h6 id="item">{{TestingContent}}</h6></div>
</br>
<div id="item"><h5>{{Maintenance}}</h5></div>
<div><h6 id="item">{{MaintenanceContent}}</h6></div>

</body>
</html>
